/* Migrated from laravel defaults */ 
html, body {
	background-color: #fff;
	color: #636b6f;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}

.full-height {
    height: 85vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar{
    margin-bottom: 0;
}

.notification{
    position: absolute;
    top: 60px;
    z-index: 1000;
    right: 10px;
}

.no-indent{
    padding-left: 0;
    list-style: none;
}

.optin{
    vertical-align: text-bottom;
}

#page-content-wrapper{
    top: 50px;
    position: relative;
}


.main{
    margin-top: 10px;
}

.panel-default > .panel-heading{
    font-weight: bold;
}

.pg-heading{
    margin-top: 0px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

